.form {
    &-control {
        border: none;
        border-bottom: 1px solid #333;
        height: 40px;
        padding: 15px 15px 15px 30px;
        font-size: 20px;
        border-radius: 0;
        &:focus {
            box-shadow: none;
            outline: none;
            border-color: inherit;
        }
    }
}