/**
 * defaults
 */

html,
body {
    height: 100%;
}

body {
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
}

.content {
    width: calc(100% - 90px - 17px);
    height: 100%;
    margin-left: 90px;
}

.wrapper {
    @include clearfix;
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto;
}


/**
 * header
 */

.header {
    margin-bottom: 50px;
}

.logo {
    display: block;
    padding-top: 10px;
    padding-left: 45px;
}

.search {
    position: relative;
    margin-top: 30px;
}

.user {
    margin-top: 10px;
    text-align: right;
    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 80px;
        margin-right: 35px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        display: inline-block;
        vertical-align: middle;
    }
}


/**
 * Catalog
 */

.directory {
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 0;
    }
    &__item {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        padding: 0 15px;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;

    }
    &__holder {
        padding: 30px 50px;
        border: 1px solid #eaeaea;
    }
    &__img {
        margin-bottom: 20px;
    }
}


/**
 * Personal
 */

.personal {
    position: relative;
    &__functions {
        position: absolute;
        right: 0;
        top: 0;
        &_block {
            padding: 15px 20px;
            cursor: pointer;
        }
    }
    &__img {
        padding-left: 50px;
        img {
            width: 100%;
        }
    }
    &__info {
        font-size: 23px;
        p {
            margin-bottom: 20px;
        }
    }
    &__date {
        color: #ccc;
    }
    &__email {
        color: $text-color;
    }
}