/**
 * defaults
 */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        text-decoration: none;
    }
}

textarea {
    width: 100%;
    height: 90px;
    resize: none;
    &[disabled="disabled"] {
        border: none;
        background-color: #fff;
    }
}

.container-fluid {
    height: 100%;
}

.content {
    padding-left: 75px;
    height: 100%;
}

.wrapper {
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

.next {
    padding: 20px 0;
    text-transform: uppercase;
    color: $brand-primary;
    border-top: 1px solid #eaeaea;
}

.create {
    margin-bottom: 50px;
}

/**
 * header
 */

.header {
    margin-bottom: 50px;
}

.logo {
    display: block;
    padding-top: 10px;
    padding-left: 45px;
}

.search {
    position: relative;
    margin-top: 30px;
}

.user {
    margin-top: 10px;
    text-align: right;
    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 80px;
        margin-right: 35px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        display: inline-block;
        vertical-align: middle;
    }
}


/**
 * Catalog
 */

.directory {
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 0;
    }
    &__item {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        padding: 0 15px;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__holder {
        padding: 30px 50px;
        border: 1px solid #eaeaea;
    }
    &__img {
        margin-bottom: 20px;
    }
}


/**
 * Personal
 */

.personal {
    position: relative;
    &__functions {
        position: absolute;
        right: 0;
        top: 0;
        &_block {
            padding: 15px 20px;
            cursor: pointer;
        }
    }
    &__img {
        padding-left: 50px;
        img {
            width: 100%;
        }
    }
    &__info {
        font-size: 23px;
        p {
            margin-bottom: 20px;
        }
    }
    &__date {
        color: #ccc;
    }
    &__email {
        color: $text-color;
    }
}


/**
 * Edit
 */

.edit {
    &__holder {
        padding-left: 50px;
    }
}


/**
 * Settings
 */

.settings {
    &__holder {
        position: relative;
        height: 100%;
    }
}

/**
 * Tools panel
 */

.tools {
    &__panel {
        padding: 0;
        margin: 0 0 30px;
        list-style-type: none;
    }
    &__item {
        display: inline-block;
        padding: 10px 30px;
        &:hover {
            background-color: $hover-bg;
        }
    }
    &__delete {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
        font-style: normal;
        font-size: 14px;
    }
    &__editing {
        color: $gray-light;
        margin-bottom: 10px;
        &_item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 5px 20px 5px 10px;
            border: 1px solid #eaeaea;
            font-size: 18px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

/**
 * admin table
 */

.admin{
    &__wr {
        margin-left: -50px;
    }
    &__table {
        width: 100%;
    }

    &__td {
        padding: 15px 20px;
        font-size: 20px;
        font-weight: 400;
        color: $text-color;
        &--blue {
            color: $second-color;
        }
        .icon {
            width: 20px;
        }
    }
    &__th {
        vertical-align: middle;
        padding: 5px 20px;
        background-color: $hover-bg;
        font-size: 24px;
        font-weight: 400;
        color: $second-color;
        white-space: nowrap;
        text-align: left;
        &_span {
            display: inline-block;
            vertical-align: middle;
            padding: 0 20px 0 0;
        }
        &--second {
            width: 40px;
        }
        &--first {
            width: 90px;
            padding-left: 50px;
            padding-right: 0;
        }
        .icon {
            width: 20px;
            height: 17px;
        }
    }
    &__checkbox {
        margin: 0;
        input[type="checkbox"] {
            display: none;
            &:checked {
                + .admin__checkbox_emulator {
                    background-color: $brand-primary;
                    border: 2px solid $brand-primary;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__checkbox_emulator {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 0;
        border: 2px solid $gray-light;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: border 0.3s, background-color 0.3s;
        &:before {
            content: '';
            width: 11px;
            height: 7px;
            position: absolute;
            left: 3px;
            top: 3px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            opacity: 0;
        }
    }

}


/**
 * Steps
 */

.steps {
    &__list {
        counter-reset: list 0;
        font-size: 0;
        padding: 0;
        margin-bottom: 50px;
        &:after {
            display: inline-block;
            width: 100%;
            content: '';
        }
    }
    &__item {
        position: relative;
        display: inline-block;
        width: 33.3%;
        font-size: 24px;
        padding-top: 70px;
        color: #fff;
        overflow: hidden;
        &.active {
            color: $text-color;
            &:before {
                opacity: 1;
            }
            .circle__dot {
                visibility: visible;
                opacity: 1;
            }
        }
        &.done {
            .circle__dot {
                animation: none;
            }
        }
        &:before {
            counter-increment: list;
            content: counter(list) "";
            position: absolute;
            top: 0;
            left: 0;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background-color: $step-bg;
            font-size: 24px;
            list-style-type: none;
            opacity: 0.1;
        }
    }
}

.form__data {
    padding-left: 50px;
}
.circle__wr {
    position: absolute;
    top: 8px;
    left: 55px;
    width: calc(100% - 55px);

    text-align: justify;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    &--block {
        left: 4px;
        top: 37px;
        width: auto;
        height: 100%;
    }
}
.circle__dot {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $step-bg;
    animation: bounce 2s infinite ease-in-out both;
    visibility: hidden;
    opacity: 0;
    &--block {
        display: block;
        visibility: visible;
        opacity: 1;
        margin-bottom: 20px;
        animation: none;
    }
    &:nth-child(2) {
      animation-delay: .2s;
    }

    &:nth-child(3) {
      animation-delay: .4s;
    }

    &:nth-child(4) {
      animation-delay: .6s;
    }

    &:nth-child(5) {
      animation-delay: .8s;
    }
    &:nth-child(6) {
      animation-delay: 1s;
    }
    &:nth-child(7) {
      animation-delay: 1.2s;
    }
    &:nth-child(8) {
      animation-delay: 1.4s;
    }
}

/**
 * Order
 */

.detail {
    text-transform: uppercase;
    font-size: 16px;
    color: $brand-primary;
    .icon {
        width: 14px;
    }
}

.order {
    position: relative;
    &__status_list {
        list-style-type: none;
        padding: 0 0 0 115px;
        margin: 0;
    }
    &__status_item {
        position: relative;
        padding-bottom: 50px;
        font-size: 20px;
        font-weight: 400;
        padding-left: 30px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $step-bg;
            z-index: 2;
        }
        &:before {
            top: 13px;
            left: 4px;
        }
        &:after {
            width: 13px;
            height: 13px;
            background-color: #fff;
            border: 1px solid $step-bg;
            z-index: 1;
        }
        span {
            display: block;
            color: $gray-light;
        }
    }
    &__status_date {
        position: absolute;
        text-align: right;
        top: 0;
        right: calc(100% + 20px);
    }
    &-section {
        padding-bottom: 40px;
    }
    &__tools {
        position: absolute;
        right: 0;
        top: 0;
        &_list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &_item {
            display: inline-block;
            padding: 10px 30px;
            border: 1px solid #eaeaea;
            cursor: pointer;
        }
    }
    &__table {
        width: 100%;
        &_wr {
            margin-left: -50px;
        }
        &_th {
            background-color: #F1F1F1;
            color: #AEAEAE;
            padding: 30px 0;
            font-size: 25px;
            font-weight: 300;
        }
        &_name {
            width: 50%;
            padding-left: 50px;
            span {
                margin-left: 45px;
            }
        }
        &_plus {
            color: $step-bg;
        }
        &_money {
            color: #AEAEAE;
        }
        &_minus {
            color: #FE5252;
        }
        &_minus,
        &_plus,
        &_money,
        &_count,
        &_name {
            font-size: 23px;
        }
        &_heading {
            color: $step-bg;
            padding: 20px 0 20px 50px;
            font-size: 24px;
        }
        &_footer {
            background-color: #F1F1F1;
            color: #AEAEAE;
            padding: 20px 0;
            font-size: 27px;
            font-weight: 400;
        }
        th, td {
            vertical-align: middle;
            text-align: center;
        }
        th:first-child {
            text-align: left;
        }
        td {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
        }
        tr td:first-child {
            padding-left: 50px;
            text-align: left;
        }
    }
}


@keyframes bounce {
  0%, 20%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1);
  }
}