/**
 * defaults
 */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        text-decoration: none;
    }
}

label {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.bordered {
    border-bottom: 1px solid #eaeaea;
}

textarea {
    width: 100%;
    height: 90px;
    resize: none;
    &[disabled="disabled"] {
        border: none;
        background-color: #fff;
    }
}

.container-fluid {
    height: 100%;
}

.content {
    padding-left: 75px;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.next {
    padding: 20px 0;
    text-transform: uppercase;
    color: $brand-primary;
    border-top: 1px solid #eaeaea;
}

.save {
    display: table-footer-group;
    &__wrapper {
        padding: 20px;
        color: $brand-primary;
        margin-right: -15px;
        border-top: 1px solid #eaeaea;
        text-transform: uppercase;
        font-size: 24px;
        margin-top: 40px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: #f1f1f1;
        }
        &--modal {
            margin: 0;
        }
    }
}

.create {
    margin-bottom: 50px;
}


/**
 * header
 */

.header {
    margin-bottom: 35px;
    background-color: #FAFAFA;
    margin-right: -15px;
}

.logo {
    display: block;
    padding: 7px 0 13px 32px;
    img {
        width: 230px;
    }
}

.search {
    position: relative;
    margin-top: 30px;
}

.selected {
    background-color: #000;
}

div.ui-selected {background-color: #f1f1f1;}
div.ui-selecting {background-color: #f1f1f1;}

.user {
    margin-top: 10px;
    text-align: right;
    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 80px;
        margin-right: 35px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }
}


/**
 * Catalog
 */

.directory {
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 0;
    }
    &__item {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        padding: 0 15px;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__holder {
        padding: 30px 50px;
        border: 1px solid #eaeaea;
    }
    &__img {
        margin-bottom: 20px;
    }
}


/**
 * Personal
 */

.personal {
    position: relative;
    &__functions {
        position: absolute;
        right: 0;
        top: 0;
        &_block {
            padding: 15px 20px;
            cursor: pointer;
        }
    }
    &__img {
        padding-left: 30px;
        img {
            width: 100%;
        }
    }
    &__info {
        font-size: 23px;
        p {
            margin-bottom: 20px;
        }
    }
    &__date {
        color: #ccc;
    }
    &__email {
        color: $text-color;
    }
}


/**
 * Edit
 */

.edit {
    &__holder {
        padding-left: 35px;
    }
    &-button {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 5px 20px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: #f1f1f1;
        }
    }
    &__block {
        padding: 5px 30px;
        border: 1px solid #eaeaea;
        display: inline-block;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover {
            background-color: #f1f1f1;
        }
    }
    &__wr {
        padding: 30px 0;
    }
}




/**
 * Settings
 */

.settings {
    &__holder {
        position: relative;
        height: 100%;
    }
}


/**
 * Tools panel
 */

.map {
    padding-bottom: 60px;
}

.settings__distance {
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
    color: $gray-light;
}

.tools {
    &__panel {
        padding: 0;
        margin: 0 0 30px;
        list-style-type: none;
        &--inline {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            margin-right: 45px;
        }
    }
    &__item {
        display: inline-block;

        cursor: pointer;
        a {
            padding: 10px 30px;
            display: block;
        }
        &:hover,
        &.active {
            background-color: $hover-bg;
        }
    }
    &__holder {
        margin-bottom: 30px;
    }
    &__delete {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
        font-style: normal;
        font-size: 14px;
    }
    &__editing {
        color: $gray-light;
        margin-bottom: 10px;
        &_item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 5px 20px 5px 10px;
            border: 1px solid #eaeaea;
            font-size: 18px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}


/**
 * admin table
 */

.admin {
    &__wr {
        margin-left: -50px;
    }
    &__table {
        width: 100%;
    }
    &__td {
        padding: 15px 20px;
        font-size: 20px;
        font-weight: 400;
        color: $text-color;
        &--blue {
            color: $second-color;
        }
        .icon {
            width: 20px;
        }
    }
    &__th {
        vertical-align: middle;
        padding: 5px 20px;
        background-color: $hover-bg;
        font-size: 24px;
        font-weight: 400;
        color: $second-color;
        white-space: nowrap;
        text-align: left;
        &_span {
            display: inline-block;
            vertical-align: middle;
            padding: 0 20px 0 0;
        }
        &--second {
            width: 40px;
        }
        &--first {
            width: 90px;
            padding-left: 50px;
            padding-right: 0;
        }
        .icon {
            width: 20px;
            height: 17px;
        }
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 23px;
        font-weight: 300;
        color: $gray-light;
        margin-left: 30px;
    }
    &__checkbox {
        margin: 0;
        input[type="checkbox"] {
            display: none;
            &:checked {
                + .admin__checkbox_emulator {
                    background-color: $brand-primary;
                    border: 2px solid $brand-primary;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
        &--modal {
            margin-bottom: 18px;
        }
    }
    &__checkbox_emulator {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 26px;
        height: 26px;
        padding: 0;
        border: 2px solid $gray-light;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: border 0.3s, background-color 0.3s;
        @media (max-width: 1600px) {
            width: 20px;
            height: 20px;
        }
        &:before {
            content: '';
            width: 16px;
            height: 8px;
            position: absolute;
            left: 3px;
            top: 5px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            opacity: 0;
            @media (max-width: 1600px) {
                width: 11px;
                height: 5px;
            }
        }
    }
}


/**
 * Steps
 */

.steps {
    &__list {
        counter-reset: list 0;
        font-size: 0;
        padding: 0;
        margin-bottom: 50px;
        &:after {
            display: inline-block;
            width: 100%;
            content: '';
        }
    }
    &__item {
        position: relative;
        display: inline-block;
        width: 33.3%;
        font-size: 28px;
        padding-top: 110px;
        color: #fff;
        text-align: center;
        opacity: 0.3;
        &--inverse {
            &:before {
                display: none;
            }
        }
        &--large {
            width: 20%;
        }
        &.active {
            opacity: 1;
            color: $text-color;
            &:before {
                opacity: 1;
            }
            .circle__dot {
                visibility: visible;
                opacity: 1;
            }
        }
        &.done {
            .circle__dot {
                animation: none;
            }
        }
        i {
            font-style: normal;
        }
        &:before {
            counter-increment: list;
            content: counter(list) "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
             width: 82px;
            height: 82px;
            line-height: 80px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background-color: $step-bg;
            font-size: 36px;
            list-style-type: none;
        }
    }
    &__circle {
        position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 82px;
            height: 82px;
            line-height: 80px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background-color: $step-bg;
            font-size: 36px;
            list-style-type: none;
            .icon {
                fill: #ffffff;
                width: 35px;
                height: 35px;
            }
    }
}

.form__data {
    padding-left: 50px;
}

.circle__wr {
    position: absolute;
    top: 24px;
    left: calc(50% + 35px);
    width: calc(100% - 70px);
    text-align: justify;
    padding: 0 20px;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    &--block {
        padding: 0;
        left: 4px;
        top: 37px;
        width: auto;
        height: 100%;
    }
}

.circle__dot {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $step-bg;
    animation: bounce 2s infinite ease-in-out both;
    visibility: hidden;
    opacity: 0;
    &--block {
        display: block;
        visibility: visible;
        opacity: 1;
        margin-bottom: 20px;
        animation: none;
    }
    &:nth-child(2) {
        animation-delay: .2s;
    }
    &:nth-child(3) {
        animation-delay: .4s;
    }
    &:nth-child(4) {
        animation-delay: .6s;
    }
    &:nth-child(5) {
        animation-delay: .8s;
    }
    &:nth-child(6) {
        animation-delay: 1s;
    }
    &:nth-child(7) {
        animation-delay: 1.2s;
    }
    &:nth-child(8) {
        animation-delay: 1.4s;
    }
}


/**
 * Order
 */

.detail {
    text-transform: uppercase;
    font-size: 16px;
    color: $brand-primary;
    .icon {
        width: 14px;
    }
}

.order {
    position: relative;
    &__status_list {
        list-style-type: none;
        padding: 0 0 0 115px;
        margin: 0;
    }
    &__status_item {
        position: relative;
        padding-bottom: 44px;
        font-size: 22px;
        font-weight: 400;
        padding-left: 30px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $step-bg;
            z-index: 2;
        }
        &:before {
            top: 13px;
            left: 4px;
        }
        &:after {
            width: 13px;
            height: 13px;
            background-color: #fff;
            border: 1px solid $step-bg;
            z-index: 1;
        }
        span {
            display: block;
            color: $gray-light;
        }
    }
    &__status_date {
        position: absolute;
        text-align: right;
        top: 0;
        right: calc(100% + 20px);
    }
    &-section {
        padding-bottom: 40px;
    }
    &__tools {
        position: absolute;
        right: 0;
        top: 0;
        &_list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &_item {
            display: inline-block;
            padding: 10px 30px;
            border: 1px solid #eaeaea;
            cursor: pointer;
        }
    }
    &__table {
        width: 100%;
        &_wr {
            margin-left: -50px;
        }
        &_th {
            background-color: #F1F1F1;
            color: #AEAEAE;
            padding: 30px 0;
            font-size: 25px;
            font-weight: 300;
        }
        &_name {
            width: 50%;
            padding-left: 50px;
            span {
                margin-left: 45px;
            }
        }
        &_plus {
            color: $step-bg;
        }
        &_money {
            color: #AEAEAE;
        }
        &_minus {
            color: #FE5252;
        }
        &_minus,
        &_plus,
        &_money,
        &_count,
        &_name {
            font-size: 23px;
        }
        &_heading {
            color: $step-bg;
            padding: 20px 0 20px 50px;
            font-size: 24px;
        }
        &_footer {
            background-color: #F1F1F1;
            color: #AEAEAE;
            padding: 20px 0;
            font-size: 27px;
            font-weight: 400;
        }
        th,
        td {
            vertical-align: middle;
            text-align: center;
        }
        th:first-child {
            text-align: left;
        }
        td {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
        }
        tr td:first-child {
            padding-left: 50px;
            text-align: left;
        }
    }
    &__time {
        color: $gray-light;
        display: inline-block;
        font-size: 24px;
    }
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}


/**
 * Route
 */

.route {
    &__panel {
        padding-left: 29px;
    }
    &__table {
        width: 100%;
        &_wr {
            margin-right: -15px;
        }
        &_th {
            background-color: #F1F1F1;
            color: $second-color;
            padding: 10px 0;
            font-size: 24px;
            font-weight: 400;
            width: 16.666%;
            cursor: pointer;
            &--first {
                padding-left: 50px;
                cursor: default;
            }
            .icon {
                width: 15px;
            }
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                margin: 0;
                width: 80%;
                min-width: 80%;
                &.btn-group .dropdown-toggle .filter-option {
                    text-overflow: ellipsis;
                }
                .dropdown-toggle {
                    background-color: #f1f1f1;
                    border-bottom: 2px solid #fff;
                }
            }
        }
        &_td {
            font-size: 24px;
            font-weight: 400;
            color: $gray-light;
            width: 16.666%;
            padding: 20px 15px;
        }
    }
    &__add {
        padding: 10px 30px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        margin: 20px 0;
        display: inline-block;
        text-align: center;
    }
    &__info {
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        background-color: #fff;
    }
    &__place {
        color: $text-color;
        display: block;
        font-size: 23px;
        margin-bottom: 10px;
        @media (max-width: 1600px) {
            font-size: 19px;
        }
        @media (max-width: 1400px) {
            font-size: 17px;
        }
    }
    &__adress {
        font-size: 22px;
        color: $gray-middle;
        @media (max-width: 1600px) {
            font-size: 18px;
        }
        @media (max-width: 1400px) {
            font-size: 16px;
        }
    }
    &__all {
        color: $gray-middle;
        font-size: 29px;
        @media (max-width: 1600px) {
            font-size: 20px;
        }
        @media (max-width: 1400px) {
            font-size: 15px;
        }
        &_wr {
            margin-bottom: 10px;
            font-size: 21px;
            color: $gray-middle;
            &--first {
                padding-top: 10px;
                @include clearfix;
                margin-bottom: 0;
            }
        }
    }
    &__item {}
    &__footer {
        .icon {
            width: 20px;
            fill: #E3E3E3;
            cursor: pointer;
        }
    }
}



/**
 * Add product
 */

.load {
    &__img {
        position: relative;
        width: 222px;
        padding: 100px 10px 0;
        min-height: 321px;
        display: inline-block;
        background-color: #F1F1F1;
        cursor: pointer;
        .icon {
            width: 78px;
            height: 78px;
            margin-bottom: 42px;
            cursor: pointer;
        }
        span {
            display: block;
            font-size: 21px;
            color: $gray-middle;
        }
    }
    &__small {
        position: absolute;
        right: -85px;
        top: 0;
        width: 37px;
        height: 37px;
        line-height: 35px;
        background-color: $brand-primary;
        border-radius: 50%;
        text-align: center;
        box-shadow: 4px 0px 8px 1px #cfcfcf;
        .icon {
            width: 25px;
            height: 25px;
            fill: #fff;
            margin-bottom: 0;
        }
    }
}

.handle {
    height: 10px;
}

.add {
    &__item {
        text-align: center;
        padding: 20px 0 13px;
        border: 1px solid #eaeaea;
    }
    &__product {
        padding-top: 25px;
        padding-left: 30px;
    }
    &__heading {
        margin-bottom: 15px;
        font-size: 25px;
        font-weight: 400;
        color: $gray-light;
    }
    &__brand {
        border: 1px solid #eaeaea;
        border-top: none;
        padding: 13px 20px 20px;
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
            margin: 0;
        }
        .bootstrap-select.btn-group .dropdown-toggle .filter-option {
            font-size: 29px;
            @media (max-width: 1600px) {
                font-size: 24px;
            }
        }
    }
    &__block {
        display: inline-block;
        vertical-align: middle;
        margin: 0 40px;
        padding: 5px 20px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        .icon {
            width: 20px;
        }
    }
    &__table {
        width: 100%;
        &_th {
            font-size: 21px;
            color: $gray-middle;
            font-weight: 400;
            padding: 8px 22px;
        }
        &_td {
            font-size: 20px;
            color: $gray-light;
            padding: 4px 20px;
        }
    }
    &__info {
        border: 1px solid #eaeaea;
        border-top: none;
        padding-bottom: 30px;
        &--view {
            padding-bottom: 20px;
            td {
                color: $text-color;
            }
        }
    }
    &__underline {
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 1px solid $text-color;
    }
    &__delete {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        .icon {
            width: 18px;
        }
    }
    &__size {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: $brand-primary;
        padding: 20px;
        border: 1px solid #eaeaea;
        border-top: none;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: #f1f1f1;
        }
    }
    &__view {
        position: relative;
        padding: 50px;
        border: 1px solid #eaeaea;
    }
    &__name {
        padding: 13px 23px 10px;
        font-size: 22px;
        line-height: 33px;
        color: $text-color;
        border: 1px solid #eaeaea;
        border-top: none;
    }
}

.f {
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        left: 20px;
        top: 18px;
    }
    &__item {
        padding: 3px 12px 7px;
        background-color: #CFCFCF;
        color: #fff;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        &.active {
            background-color: $brand-primary;
            box-shadow: 4px 0px 8px 1px #cfcfcf;
        }
    }
}

.preview__number {
    display: inline-block;
    padding: 0 20px;
}

.color {
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__item {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 4px 0px 8px 1px #cfcfcf;
        border: none;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &.active {
            border: 3px solid #fff;
            box-shadow: 4px 0px 8px 1px #cfcfcf;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}


/**
 * Diagramm
 */

.micro {
    &__holder {
        padding-bottom: 50px;
    }
}

.diagramm {
    &__data {
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
    }
    &__digital {
        font-size: 50px;
    }
}

.data__item {
    padding: 20px 30px;
    color: $brand-primary;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fafafa;
    transition: background-color 0.3s;
    &.active,
    &:hover {
        color: #fff;
        background-color: $brand-primary;
        .icon {
            fill: #fff;
        }
    }
    .icon {
        width: 35px;
        height: 45px;
    }
}

.drop__top {
    height: 135px;
    background-color: #f1f1f1;
    @include clearfix;
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        margin: 0;
        width: 220px;
        &.btn-group .dropdown-toggle .filter-option {
            text-overflow: ellipsis;
            font-size: 28px;
            width: 80%;
            @media (max-width: 1600px) {
                font-size: 20px;
            }
        }
        .dropdown-toggle {
            background-color: #f1f1f1;
            border-bottom: 2px solid #fff;
        }
    }
    &--first {
        padding-left: 35px;
        margin: 0 -30px 0 -45px;
        padding-top: 0;
        line-height: 125px;
    }
    &--small {
        height: 105px;
        &.drop__top--first {
            line-height: 105px;
        }
    }
}

.drop__day {
    width: 20%;
    min-width: 210px;
    display: inline-block;
    vertical-align: top;
    font-size: 29px;
    color: $gray-middle;
    text-align: left;
    padding: 100px 0 0 0;
    margin: 0 10px 0 0;
    height: 135px;
    background-color: #f1f1f1;
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1400px) {
        font-size: 16px;
    }
    span {
        display: inline-block;
        margin-right: 20px;
        @media (max-width: 1600px) {
            margin-right: 10px;
        }
    }
}

.drop__wr {
    font-size: 0;
    white-space: nowrap;
}

.drop__weakend {
    font-size: 25px;
    text-transform: uppercase;
    color: $gray-middle;
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    width: 100%;
}

.merch__wr {
    font-size: 0;
    padding-top: 20px;
    white-space: nowrap;
    text-align: left;
}

.merch__item {
    width: 20%;
    min-width: 210px;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    color: $second-color;
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    .icon {
        width: 22px;
        @media (max-width: 1600px) {
            width: 15px;
        }
    }
}

.test {
    width: 100%;
    td, th {
        width: 20%;
    }
    &-wr {
        padding: 0 20px;
    }
}



.ui-widget-header {
    background-color: #fff;
}

.column {
    width: 20%;
    min-width: 210px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 100px;
    &__wr {
        font-size: 0;
        white-space: nowrap;
    }
    &__row {
        @include clearfix;
    }
    &__left {
        width: 265px;
        float: left;
        padding-left: 45px;
        padding-right: 11px;
        background-color: #fafafa;
    }
    &__right {
        padding-left: 11px;
        overflow: hidden;
    }
}

.owl__wr {
    overflow-x: auto;
}

.column--wide {
    width: 100%;
    .portlet {
        margin-right: 0;
    }
}

.portlet {
    min-width: 210px;
    &-remove {
        display: inline-block;
    }
}

.portlet-header {
    position: relative;
    cursor: pointer;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.portlet__number_wr {
    white-space: nowrap;
    font-size: 0;
}
.portlet__number_item {
    padding-top: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    min-width: 210px;
    width: 20%;
    color: #9f9f9f;
    font-size: 29px;
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1400px) {
        font-size: 16px;
    }
}

.ui-widget.ui-widget-content {
    border: none;
}

.owl-nav {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: $brand-primary;
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1400px) {
        font-size: 16px;
    }
    span {
        display: inline-block;
        vertical-align: baseline;
    }
    .icon {
        vertical-align: baseline;
    }
}

.owl-prev {
    float: left;
    padding-left: 21px;
}

.owl-next {
    float: right;
    padding-right: 21px;
}


.modal-header {
    padding: 39px 37px 0;
    font-size: 24px;
    border-bottom: none;
    &--inverse {
        padding-top: 11px;
    }
}

.modal-dialog {
    width: 690px;
}

.modal-body {
    padding: 20px 37px 0;
    &--inverse {
        padding-bottom: 28px;
    }
    .wide-select {
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 87%;
            display: block;
        }
    }
}

.modal-content {
    display: table;
    width: 100%;
    border-radius: 0;
}
