.icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: $brand-primary;
    fill: $brand-primary;
    &-info {
        width: 30px;
        height: 30px;
    }
    &__gray {
        fill: $gray-middle;
    }
    &-search {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translate(0, -50%);
        width: 27px;
        height: 31px;
    }
    &-big-home {
        width: 50px;
        height: 45px;
    }
}

