.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg_sprite.html");
    background-repeat: no-repeat;
    background-size: 7.4em 91.4em;
}

.no-svg .icon:before {
    background-image: url("../svg_sprite.html");
}



  .icon.icon-ico 01:before {
      background-position: 0em 0em;
      width: 2em;
      height: 2.1em;
  }




  .icon.icon-ico 02:before {
      background-position: 0em -2.1em;
      width: 3em;
      height: 3em;
  }




  .icon.icon-ico 03:before {
      background-position: 0em -5.1em;
      width: 3em;
      height: 3em;
  }




  .icon.icon-ico 04:before {
      background-position: 0em -8.1em;
      width: 2.9em;
      height: 3em;
  }




  .icon.icon-ico 05:before {
      background-position: 0em -11.1em;
      width: 3em;
      height: 2.5em;
  }




  .icon.icon-ico 06:before {
      background-position: 0em -13.6em;
      width: 3em;
      height: 3em;
  }




  .icon.icon-ico 07:before {
      background-position: 0em -16.6em;
      width: 3em;
      height: 3em;
  }




  .icon.icon-ico 08:before {
      background-position: 0em -19.6em;
      width: 3em;
      height: 3em;
  }




  .icon.icon-ico 09:before {
      background-position: 0em -22.6em;
      width: 7.4em;
      height: 7.7035em;
  }




  .icon.icon-ico 10:before {
      background-position: 0em -30.4em;
      width: 2em;
      height: 2em;
  }




  .icon.icon-ico 11:before {
      background-position: 0em -32.4em;
      width: 3em;
      height: 3em;
  }




  .icon.icon-ico 12:before {
      background-position: 0em -35.4em;
      width: 1.4em;
      height: 0.8em;
  }




  .icon.icon-ico 13:before {
      background-position: 0em -36.2em;
      width: 2.4em;
      height: 3.2em;
  }




  .icon.icon-ico 14:before {
      background-position: 0em -39.4em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.icon-ico 15:before {
      background-position: 0em -40.9em;
      width: 2em;
      height: 2em;
  }




  .icon.icon-ico 16:before {
      background-position: 0em -42.9em;
      width: 1.7em;
      height: 2.6em;
  }




  .icon.icon-ico 17:before {
      background-position: 0em -45.5em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.icon-ico 18:before {
      background-position: 0em -48em;
      width: 3em;
      height: 2.5em;
  }




  .icon.icon-ico 19:before {
      background-position: 0em -50.5em;
      width: 3em;
      height: 2.3em;
  }




  .icon.icon-ico 20:before {
      background-position: 0em -52.8em;
      width: 2em;
      height: 2.5em;
  }




  .icon.icon-ico 21:before {
      background-position: 0em -55.3em;
      width: 2.4em;
      height: 1.1em;
  }




  .icon.icon-ico 22:before {
      background-position: 0em -56.4em;
      width: 2.4em;
      height: 1.1em;
  }




  .icon.icon-ico 23:before {
      background-position: 0em -57.5em;
      width: 1.8em;
      height: 1.2em;
  }




  .icon.icon-ico 24:before {
      background-position: 0em -58.7em;
      width: 1.5em;
      height: 0.9em;
  }




  .icon.icon-ico 25:before {
      background-position: 0em -59.6em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.icon-ico 26:before {
      background-position: 0em -61.1em;
      width: 2.3em;
      height: 2em;
  }




  .icon.icon-ico 27:before {
      background-position: 0em -63.1em;
      width: 2.7em;
      height: 2.5em;
  }




  .icon.icon-ico 28:before {
      background-position: 0em -65.6em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.icon-ico 29:before {
      background-position: 0em -68.1em;
      width: 2em;
      height: 2.5em;
  }




  .icon.icon-ico 30:before {
      background-position: 0em -70.6em;
      width: 2.6em;
      height: 2.5em;
  }




  .icon.icon-ico 31:before {
      background-position: 0em -73.1em;
      width: 4.6em;
      height: 2.4em;
  }




  .icon.icon-ico 32:before {
      background-position: 0em -75.5em;
      width: 2.7em;
      height: 1.7523em;
  }




  .icon.icon-ico 33:before {
      background-position: 0em -77.3em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.icon-ico 34:before {
      background-position: 0em -78.5em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.icon-ico 35:before {
      background-position: 0em -80em;
      width: 1.2029999999999998em;
      height: 1.948em;
  }




  .icon.icon-ico 36:before {
      background-position: 0em -82em;
      width: 1.2029999999999998em;
      height: 1.948em;
  }




  .icon.icon-ico 37:before {
      background-position: 0em -84em;
      width: 1.7em;
      height: 1.8em;
  }




  .icon.icon-ico 38:before {
      background-position: 0em -85.8em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.icon-ico 39:before {
      background-position: 0em -88.3em;
      width: 3.7em;
      height: 3.1em;
  }





